<% provide :title, t("home") %>

<div class="center jumbotron">
  <h1><%= t("FELS") %></h1>
  <p>
    <%= t("intro") %>
    <a href="http://www.railstutorial.org/"><%= t("FELS") %></a>
    <%= t("app") %>.
  </p>
</div>
