<li>
  <section class="user_list">
    <%= link_to user.name, user %>
  </section>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to t("delete"), user, method: :delete,
      data: {confirm: t("flash.confirm")}%>
  <% end %>
</li>
