<% provide :title, t("user.title.index") %>

<h1>
  <p><%= t "user.title.index" %></p>
  <p class="label label-danger"><%= pluralize @users.count, t("user.users") %></p>
</h1>
<div class="col-sm-3 col-md-12">
  <ul id="user-list" class="list-group">
    <%= render @users %>
  </ul>
  <%= will_paginate @users %>
</div>
