<% provide :title, t("word.all") %>

<div class="container">
  <h1>
    <p>
      <%= t "word_list" %>
    </p>
  </h1>
  <h2>
    <p>
      <span id="words" class="label label-danger">
        <%= pluralize @words.count, t("word.words") %>
      </span>
    </p>
  </h2>
  <%= render "shared/filter_form" %>
  <div id="word_table">
    <%= render "words_table" %>
  </div>
</div>
