<div id="content">
  <ul class = "list-group">
    <li class = "list-group-item list-group-item-info">
      <%= @category.name %>
    </li>
    <li class = "list-group-item">
      <%= @category.description %>
    </li>
  </ul>
</div>

