<% provide :title, @category.name %>

<div class="col-md-8 col-md-offset-2">
  <%= render "show" %>
</div>

<div class="form-horizontal">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <span class = "label label-danger"><%= pluralize(@lessons.count, t("categories.lesson")) %></span>
      </li>
    <% @lessons.each do |lesson| %>
      <li class="list-group-item">
        <p>
          <%= lesson.name %>
        </p>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<div class="clear"></div>
