<% provide :title, t("categories.categories") %>

<div class="row">
  <div class="col-md-12 category">
    <h1 class="text-list"><%= t "categories.categories" %></h1>
    <hr/>
    <div id="category-list">
      <%= render @categories %>
    </div>
    <%= will_paginate @categories %>
  </div>
</div>
