<% provide :title, t("user.title.index") %>

<h1><%= t "user.title.index" %></h1>
<div class="col-sm-3 col-md-12">
  <%= link_to t("user.title.new"), new_admin_user_path, class: "btn btn-lg btn-primary" %></br>
  <ul id="user-list" class="list-group">
    <%= render @users %>
  </ul>
  <%= will_paginate @users %>
</div>

<div class="clear"></div>
